*.DS_Store
client/node_modules
client/dist

# local env files
client/.env*

# Log files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*

# server
server/node_modules/
server/dist/
server/.env*

# graphics
templates/animations/*_AME/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


